body {
  background: #dfdfdf;
  color: rgb(1, 170, 170);
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

.board {
  display: grid;
  grid-template-columns: 20% 30% 20%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.card {
  aspect-ratio: 2/3;
  background-image: url("card.jpg");
  background-size: cover;
  border: 2px solid white;
  border-radius: 8px;
}

.icon {
  aspect-ratio: 2 / 3;
  background: #222;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px;
  font-size: 1.5rem;
}
.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.icon-left {
  grid-column: 2;
}

.previous {
  grid-column: 1;
  grid-row: 3;
}

.icon-right {
  grid-column: 1;
}

.next {
  grid-column: 2;
  grid-row: 4;
}
